/* Writing comments part 1 */

/* Adding a border to the Album picture */

.border {
  display:inline-flex;
  justify-content:space-around;
  height: 300px;
  border:4px solid #7733b6;
  border-radius:10px;
  padding:10px;
}
/* END of Adding a border to the Album picture */

/* Adding gameLevel style for the 3 buttons for slotmachine */
.gameLevel {
  width:50px;
  height:50px;
  background-color:rgb(108, 236, 211);
  border-radius:50%;
  text-align:center;
  align-items:center;
  font-size:30px;
  font-weight: bold;
  cursor:pointer; 
  color:#7733b6
}

.gameLevel:hover {
  background-color: rgb(67, 167, 239);
}
/* END of Adding gameLevel style for the 3 buttons for slotmachine */


 /* New Addition for slotmachine */
  .myImg{  /* For all pictures */
  max-width:100%;
  vertical-align:top;
 }
 
 .imagen { /* Border around each Pelikone picture */
 
  border:4px solid #7733b6;
  border-radius:10px;
  padding:10px;
  }

#ikkunat{
  display:flex; 
  }

.ikkuna{
  display:inline-flex; 
  width:150px;
}

#viestilaatikko{
  display:inline-block;
  border:4px solid #0b75ee;
  align-items:center;
  border-radius:10px;
  background-color:rgb(209, 245, 209);
  margin:auto;
  top:30px;
}

#mensaje{
  font-size:20px;
  color:#360590;
  text-align:center;
}

  /* END of New Addition for slotmachine */

.button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  cursor:pointer;
}

.button1 {  /* nappiSeuravaaKuva */
  background-color: rgb(88, 232, 203);
 }

 .button2 { /* nappiEdellinenKuva */
  background-color: pink;
 }

 .button1:hover { /* nappiSeuravaaKuva */ 
  background-color: rgb(117, 162, 244);
}

.button2:hover {  /* nappiEdellinenKuva */
  background-color: fuchsia;
}

@keyframes example {
  20%  {background-color: #c83be1;}
  30%  {background-color: #3261ec;}
  50%  {background-color: #e289f1;}
  100% {background-color: #3ce2ee;}
}

.animation {
  animation-name: example;
  animation-duration: 2s;
}

.bit{
    background-image: linear-gradient(to left, #0b75ee, #4ae686, #f782c2, #7733b6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;  
}

.link {
color: white;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: block;
  justify-content:center;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  font-size:20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  display: inline-block;
  justify-content:space-around;
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
